.image-wrapper {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.two-column {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.two-column > *:nth-child(1) {
  flex: 2;
  min-width: 60%;
}

.two-column > *:nth-child(2) {
  flex: 1;
  min-width: 30%;
}
